@model ByteBank.Forum.ViewModels.ContaConfirmacaoAlteracaoSenhaViewModel
@{
    ViewBag.Title = "Confirma alteração de senha";
}

<h2>Login</h2>

@using (@Html.BeginForm("ConfirmacaoAlteracaoSenha","Conta"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" });

    @Html.EditorForModel();

    @Html.ActionLink("Esqueci minha senha", "EsqueciSenha");

    <input type="submit" value="Alterar Login" />
}
   